.getit {
  // background: url(/getit/ hand-right.png) no-repeat right -40px bottom 50px;
  background-color: $color-bg-primary;
  padding: 50px 0;
}

@screen md {
  .getit {
    padding: 80px 0;
    background: url(/getit/phone.png) no-repeat left 650px top 30px;
    background-size: 300px;
    background-color: $color-bg-primary;
  }
}
@screen xl {
  .getit {
    padding: 250px 0 130px 0;
    background: url(/getit/phone.png) no-repeat right calc(50% - 250px) top 100px,
      url(/getit/hand-right.png) no-repeat right calc(50% - 800px) top 230px,
      url(/getit/hand-left.png) no-repeat left calc(50% - 800px) top 30px;
    background-color: $color-bg-primary;
  }
}
