.reviews {
  padding: 40px 0 80px 0;
}

.reviews__img {
  width: 170px;
  height: 144px;
  object-fit: cover;
  border-radius: 40px;
  // object-position: top;
}

.reviews__slide {
  background: url(/reviews/like.png) no-repeat left 190px top 70px;
  background-size: 80px;
}

.swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $color-orange-light;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: $color-orange;
  width: 36px;
}

@screen sm {
  .reviews {
    padding: 80px 0;
  }

  .reviews__slide {
    background: url(/reviews/like.png) no-repeat right 10px bottom;
    background-size: 100px;
  }
  .reviews__img {
    flex-shrink: 0;
  }
}

@screen md {
  .reviews__img {
    width: 298px;
    height: 379px;
    border-radius: 370px;
  }
}

@screen xl {
  .reviews {
    padding: 170px 0 140px 0;
  }

  .reviews {
    background: url(/reviews/like.png) no-repeat left 40px top 20px,
      url(/reviews/emoji.png) no-repeat right 80px bottom 50px;
  }
  .reviews__slide {
    background: none;
  }
}
