.desc {
  opacity: 0.8;
  font-size: 16px;
  color: $color-grey;
  font-family: "Inter", sans-serif;

  &--big-line-height {
    line-height: 225%;
  }

  &--black {
    color: #000;
    opacity: 1;
  }

  &--white {
    color: #fff;
  }

  &--color-grey {
  }

  &--small {
    font-size: 14px;
  }

  &--big {
    font-size: 18px;
  }
}

.title {
  font-weight: 600;
  line-height: 145%;
  font-weight: 600;
  color: $color-blue;

  &--color-black {
    color: #000;
  }
  &--color-white {
    color: #fff;
  }

  &--color-grey {
    color: $color-grey;
  }

  &-1 {
    font-size: 28px;
    font-weight: 700;
  }

  &-2 {
    font-size: 24px;
  }

  &-3 {
    font-size: 20px;
  }

  &-4 {
    font-size: 18px;
  }
}

.btn {
  font-weight: 500;
  color: $color-orange;
  border-radius: 40px;
  font-size: 18px;
  padding: 16px 32px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    background-color: $color-orange;
  }

  &:hover {
    &:after {
      opacity: 0.1;
    }
  }

  &:active {
    &:after {
      opacity: 0.2;
    }
  }
}

.btn--big {
  padding: 24px 40px;
}

.btn--outlined {
  box-shadow: inset 0 0 0 1px $color-orange;
}

.btn--bg-orange {
  background-color: $color-orange;
  color: #fff;

  &:after {
    background: $color-grey;
  }
}

.btn--bg-white {
  background: #fff;
  color: $color-orange;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;

  a {
    display: block;
    padding: 7px 0;
    position: relative;
    transition: all 0.3s;

    &:hover {
      color: $color-orange;
    }
  }
}

@screen sm {
  .menu {
    &--footer {
      flex-direction: row;
    }
  }

  .title {
    &-1 {
      // font-size: 32px;
    }
  }
}

@screen md {
  .menu {
    &--footer {
      gap: 30px;
    }
  }

  .title {
    &-1 {
      font-size: 35px;
    }
  }
}

@screen lg {
  .desc {
    font-size: 18px;

    &--small {
      font-size: 18px;
    }

    // &--big {
    //   font-size: 20px;
    // }
  }

  .menu {
    flex-direction: row;
    gap: 48px;
  }
}

@screen xl {
  .title {
    &-1 {
      font-size: 48px;
    }
  }
}
@screen 2xl {
  .title {
    &-1 {
      font-size: 64px;
    }
  }
}
